#!/bin/sh
#
# 05-welcome - welcome message after logo
#

printf "Welcome to %s\n" "{{ hostname }}"
{% if motd_config.welcome_message is defined and motd_config.welcome_message %}
printf "%s\n" "{{ motd_config.welcome_message }}"
{% endif %}
printf "\n"